<h1 class="billabong">Hastigram</h1>

<h4> Index </h4>

<%= flash_messages %>

<%= link_to "New User", new_user_url %>
<%= link_to "Sign In", new_session_url %>

<div id="content"></div>

<%= javascript_include_tag 'application' %>
