
<div class="m-content">

  <div class="post-form-cont">
    <button class="close">CLOSE</button>

    <form class="post-form form-horizontal">

     <div class="form-group">
      <label class="maxwidth">Image URL:
        <input type="text" class="form-control" name="post[image_url]">
      </label>
    </div>

     <div class="form-group">
      <label class="maxwidth">Say something:
        <input type="text" class="form-control" name="post[body]">
      </label>
    </div>

      <div class="form-group">
       <input class="btn btn-success create-post" type="submit" value="Post!">
     </div>
    </form>
  </div>
</div>
