
<form class="post-form form-horizontal">

  <div class="form-group post-img-preview">
    <img src="">

    <div class="filters"></div>
  </div>
 <button class="btn btn-default cloudinary-upload">Image Upload</button>

 <div class="form-group">
    <label class="maxwidth">Say something:
      <input type="text" class="form-control" name="post[body]">
    </label>
 </div>

 <div class="form-group">
   <input class="btn btn-success create-post" type="submit" value="Post!">
 </div>
</form>
