<div class="post-image">
 <img src="<%= post.escape('image_url') %>">
 </div>
 <div class="post-body">
  <%= user.escape('username') %>:
  <%= post.escape('body') %>
</div>
<div class="post-comments"></div>
<form class="comment-form maxwidth">
  <input type="text" class="comment-text-input" name="comment[body]">
  <input type="submit" class="btn btn-default" value="Post">
</form>
<div class="post-usertag"></div>
