<div class="post-image">
 <img src="<%= post.escape('image_url') %>">
 </div>
<div class="post-content">
  <div class="post-likes"></div>
  <% if (/^\s+$/.test(user.get('body'))) { %>
     <div class="post-body">
      <strong><%= user.escape('username') %></strong>:
      <%= post.escape('body') %>
    </div>
  <% } %>
  <div class="post-comments"></div>
  <form class="comment-form maxwidth form-inline">
    <input type="text" class="comment-text-input form-control" placeholder="Add a comment.." name="body">
    <input type="submit" class="btn btn-default" value="Post">
  </form>
  <div class="post-usertag"></div>
</div>
<div class="delete-post">
 <% if(Wastegram.current_user.id === post.get('author_id')) { %>
  <div class="glyphicon glyphicon-remove"></div>
 <% } %>
</div>
