<!-- <button class="like btn btn-primary">
  <% if (like.isNew()) { %>
    <span class="glyphicon glyphicon-heart red"></span>
    Like
  <% } else { %>
    <span class="glyphicon glyphicon-heart"></span>
    Unlike
  <% } %>
</button> -->

<span class="group">
  <div class="like">
    <% if (like.isNew()) { %>
      <div class="glyphicon glyphicon-heart red"></div>

    <% } else { %>
      <div class="glyphicon glyphicon-heart"></div>

    <% } %>
  </div>

  <div class="like-info">
    <%= num_likes %> likes.
  </div>
</span>
