<button class="like btn btn-primary">
  <% if (like.isNew()) { %>
    <span class="glyphicon glyphicon-plus"></span>
    Like
  <% } else { %>
    <span class="glyphicon glyphicon-minus"></span>
    Unlike
  <% } %>
</button>

<span class="like-info">
  <%= num_likes %> likes.
</span>
