

<div class="col-md-3 col-md-offset-4 vert-align">
  <div class="spacer"></div>
  <div class="cred-form">

    <div class="home-link billabong text-center">
    </div>

    <form class="form-horizontal profile-form">
      <h5><%= user.escape('username') %> Profile</h5>

     <div class="form-group profile-img-preview">
       <img src="<%= user.escape('image_url') %>">
       <div class="filters"></div>
     </div>

     <div class="form-group">
       <label class="maxwdth">Profile Picture
         <button class="upload-profile-pic btn btn-default">Upload</button>
      </label>
    </div>


     <div class="form-group">
      <label class="maxwidth">Email:
        <input type="text" class="form-control" name="email" value="<%= user.escape('email') %>">
      </label>
    </div>

    <div class="form-group">
      <input class="btn btn-default maxwidth" type="submit" value="Edit Profile">
    </div>
    </form>

  </div>
</div>
