<img src="<%= user.escape('thumb_url') %>" alt="Profile Pic" height="100" width="100">
<div class="usertag-username"><%= user.escape('username') %></div>
<div class="usertag-timeago"><%= user.escape('when') %> ago.</div>
