<img src="<%= user.escape('thumb_url') %>" alt="Profile Pic" height="100" width="100">
<strong><%= user.escape('username') %></strong>
<div class="usertag-timeago"><%= user.escape('when') %> ago</div>
