<a href="#"><h1 class="nav-title billabong">Wastegram</h1></a>

<div class="user-search"></div>

<div class="glyphicon glyphicon-menu-hamburger"></div>

<div class="menu-items col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6 hide">
  <% if (url === "") { %>
    <div class="compose"><strong>New Post</strong></div>
  <% } else { %>
    <div class="home-link"><strong>Home</strong></div>
  <% } %>

  <div class="profile"><strong>Edit profile</strong></div>

  <div class="logout">
      <strong>Log out</strong>
  </div>
</div>
