<h1 class="nav-title billabong">Wastegram</h1>

<a class="logout-btn btn btn-default" rel="nofollow" data-method="delete" href="/session">Log Out</a>
<!-- <a class="sign-up-btn btn btn-default"href="/users/new">New User</a>
<a class="sign-in-btn btn btn-default"href="/session/new">Sign In</a> -->

<div class="profile"></div>

<div class="user-search"></div>
