<a href="#"><h1 class="nav-title billabong">Wastegram</h1></a>

<a class="logout-btn" rel="nofollow" data-method="delete" href="/session">
  <strong>Log out</strong>
</a>

<div class="profile"></div>

<% if (url === "") { %>
  <div class="compose glyphicon glyphicon-pencil"></div>
<% } else { %>
  <div class="glyphicon glyphicon-home"></div>
<% } %>
<div class="user-search"></div>
