<a href="#"><h1 class="nav-title billabong">Wastegram</h1></a>

<a class="logout-btn" rel="nofollow" data-method="delete" href="/session">
  <strong>Log out</strong>
</a>

<div class="profile"></div>

<div class="user-search"></div>
