

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
 font-family: 'billbong';
 src: font-url('Billabong.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

.billabong{
 font-family:'billabong';
}

.cred-form {
  background-color: #D6E0FF;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 10px 50px 10px 50px;
  top: calc(50vh - 125px);
}

.maxwidth {
  width: 100%;
}

.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  // max-height: 250px;
  // position: absolute;
}

body {
  background-color: #F0F0F0;
}

.flash-message {
  padding-left: 0px;
}
