

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'billabong';
    src: font-url('billabong-webfont.eot');
    src: font-url('billabong-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('billabong-webfont.woff2') format('woff2'),
         font-url('billabong-webfont.woff') format('woff'),
         font-url('billabong-webfont.ttf') format('truetype'),
         font-url('billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
}

.group:after {
  display: block;
  clear: both;
  content: '';
}

.billabong{
 font-family:'billabong';
}

.cred-form {
  background-color: #D6E0FF;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  // top: calc(50vh - 125px);
}

body {
  position: relative;
  background-color: #F0F0F0;
}

.comment-text-input {
  width: 80%;
  margin: 10px;
}

.feed-stream {
  padding: 0px 15px;
  background-color: #CCC;
  top: 69px;
}

.flash-message {
  padding-left: 0px;
}

.follow {
  float: right;
}

.home-link {
  font-size: 200%;
}

.maxwidth {
  width: 100%;
}

.m-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 20;
  opacity: 0.6;
  filter: alpha(opacity=60);

}

.m-content {
  position: fixed;
  right: calc(50% - 350px);
  width: 700px;
  height: 500px;
  background-color: #FFF;
  border-radius: 5px;
  z-index: 50;
  opacity: 0.9;
  filter: alpha(opacity=90);
  padding: 50px;
}

.navbar {
  position: fixed;
  z-index: 50;
  background-color: #006699;
  height: 70px;
  border: 1px solid black;
  width: 100%;
  border-radius: 0px;
}

.outerDiv {
  height: 100%;
}

.compose-post {
  position: fixed;
  right: calc(50% - 500px);
}

.post {
  // min-height: 600px;
  // min-width: 30%;
  border: 1px solid black;
  background-color: #FFF;
  position: relative;
}

.post-form-cont {
  position: fixed;
  margin: 0 50px;
  top: 20%;
  z-index: 500;
  right: 15%;
}

.post-image {
  border: 1px solid black;
}

.post-image img {
  width: 100%;
}

.post-likes {
  border: 1px solid black;
}

.post-body {
  border: 1px solid black;
}

.post-usertag {
  position: absolute;
  left: -150px;
  height: 100px;
  width: 125px;
  top: 0%;
}

.post-usertag img {
  border-radius: 25%;
}

.profile {
  height: 69px;
  border: 1px solid black;
  width: 100px;
  position: absolute;
  right: 35%;
  top: 0%;
}

.widget .powered_by_cloudinary.active {
  display: none !important;
}

.search-results {
  width: 15%;
}

.search-result-img {
  border-radius: 25%;
}

.search-result-item {
  margin: 5px;
  padding: 5px;
}

.spacer {
  min-height: 20%;
  height: 200px;
}

.nav-title {
  position: absolute;
  right: calc(50% - 55px);
}

.vert-align {
  // display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
