

<form class="user-search-form navbar-form">
  <input class="user-search-input form-control" placeholder="Find friends..." type="text" name="search">
</form>

<div class="search-results col-lg-3 col-md-4"></div>
