<img src="<%= user.escape('thumb_url') %>" alt="Profile Pic" height="42" width="42">
<%= user.escape('username') %>

<% if (follow.isNew()) { %>
  <button class="follow btn btn-default"
  data-user-id="<%= user.id %>">Follow</button>
<% } else { %>
  <button class="follow btn btn-success"
  data-user-id="<%= user.id %>">Followed</button>
<% } %>
