<!DOCTYPE html>
<html>
<head>
  <title>Hastigram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  

  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <%= link_to "Log Out", session_url, method: :delete %>
  <% end %>



<%= yield %>

</body>
</html>
